// Specific CSS for your home-page

.banner {
  background-image: url("../../images/dragon.png");
  height: 85vh;
  padding: 32px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 41%;
  text-shadow: 1px 1px #fff;
  z-index: 2;
}

.header h2 {
  font-size: 60px;
  color: #322a3c;
}

.header h1 {
  font-size: 75px;
  color: #0c0910;
}

.hider {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  background: linear-gradient(to top, #fff5e5, transparent);
}
