<h1><%= @user.email %></h1>

<h2>My Vehicles</h2>
<div>
  <% @user.vehicles.each do |vehicle| %>
        <div class="card" style="width: 18rem;">
            <%= link_to vehicle.name, vehicle_path(vehicle) %>
        </div>
  <% end %>
</div>
