<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <p class="navbar-logo">Drive-a-dragon</p>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Sign in", '#', class: "btn-round btn-outline" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log in", '#', class: "btn-round btn-solid" %>
      </li>
    </ul>
  </div>
</div>
