<div class="page-home break-out">
  <div class="banner">
    <div class="header">
      <h1>Drive a Dragon</h1>
      <h2>Rent a magic vehicle for a magic journey</h2>
    </div>
    </div>
    <div class="hider"></div>
  </div>
  <br>
  <%= render 'shared/vehicles_grid' %>
  <br>
</div>