<div class="page-home break-out">
  <div class="banner">
    <div class="header">
      <h1>Drive a Dragon</h1>
      <h2>Rent a magic vehicle for a magic journey</h2>
    </div>
    </div>
    <div class="hider"></div>
  </div>

<div class="cards">
  <%= link_to "Sci-Fi", vehicles_path(query: "sci-fi") do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @vehicles[:sci_fi].photos.first.key %>)">
    </div>
  <% end %>
</div>


  <br>
  <%= render 'shared/vehicles_grid' %>
  <br>
</div>

'Magic Creatures', vehicles_path(query: 'magic creature')
