<div class="page-home break-out">
  <div class="banner">
    <div class="header">
      <h1>Drive a Dragon</h1>
      <h2>Rent a magic vehicle for a magic journey</h2>
      <br>
      <br>
      <h3>Always the right vehicle</h3>
      <p>With our extensive fleet of exclusive vehicles you will always find the perfect vehicle for your needs. Whether it‘s a race car for a city trip or a dragon for a thrilling flight, we have it. As we want to contribute to making mobility more sustainable, we offer numerous mythical creatures with zero CO2-emissions.</p>
      <br>
      <br>
      <h3>Always your dream vehicle nearby</h4>
      <p>Thanks to our large fleet, your dream vehicle or creature is always just around the corner.</p>
    </div>
    </div>
    <div class="hider"></div>
  </div>
  <%= render 'shared/vehicles_grid' %>
  <br>
</div>
