<% content_for :classes do %> page-home <% end %>
<div class="banner">
  <div class="header">
    <h1>Drive a Dragon</h1>
    <h2>Rent a magic vehicle for a magic journey</h2>
  </div>
  <div class="menu">
    <div class="btn btn-sign-in">Sign in</div>
    <div class="btn btn-sign-in">Login</div>
  </div>
  <div class="hider"></div>
</div>
<div class="container">
  <h2>Our offers</h2>
  <div class="cards">
    <div class="card">Flaying Carpet</div>
    <div class="card">Brom</div>
    <div class="card">Space Ship</div>
    <div class="card">Magic Powder</div>
    <div class="card">Sombral</div>
    <div class="card">Angel wings</div>
  </div>
</div>
