<% content_for :classes do %> page-home <% end %>
<div class="banner">
  <div class="header">
    <h1>Drive a Dragon</h1>
    <h2>Rent a magic vehicle for a magic journey</h2>
  </div>
  <div class="menu">
    <div>
      <% if user_signed_in? %>
        <%= link_to "Sign out",
                    destroy_user_session_path,
                    html_options = {
                        method: 'DELETE',
                        class: "btn btn-danger"
                    }
                    %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path,
            class: "btn btn-sign-in" %>
      <% end %>
    </div>
  </div>
  <div class="hider"></div>
</div>
<div class="container">
  <h2>Our offers</h2>
  <div class="cards">
    <div class="card">Flying Carpet</div>
    <div class="card">Broom</div>
    <div class="card">Space Ship</div>
    <div class="card">Magic Powder</div>
    <div class="card">Sombral</div>
    <div class="card">Angel wings</div>
  </div>
</div>
