.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.card-product img {
  flex-shrink: 0;
  height: 120px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}

.card-status {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}

.card-product h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos {
  width: 100%;
  a {
    color: $black;
  }
  .date {
    margin-top: 8px;
  }
}

.btn-booking {
  display: inline-block;
  font-size: 12px;
  padding: 4px 0;
  text-align: center;
  width: 50px;
  margin: 4px;
  color: black;
  &:hover,
  &:focus {
    color: white;
  }
}

// Small devices
@media (max-width: 576px) {
  .card-product {
    flex-direction: column;
    height: 100%;
    img {
      height: 100px;
      width: 100%;
    }
  }
}
