.btn-sign-in {
  padding: 10px 20px;
  background-color: hsla(274, 19%, 26%, 0.603);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.btn-sign-in:hover {
  background-color: #453750;
  color: #fff;
}
